<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
                initial-scale=1.0">
    <title>Acudiente | Comunicaciones</title>

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/avatar1.png" th:href="@{../img/avatar1.png}">
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <!-- DataTables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!--SELECTPICKER-->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <!-- Icons-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Local Files-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/estudiante/observador.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <script type="text/javascript" th:src="@{/js/acudiente/comunicaciones.js}"></script>



</head>

<body>
    <div th:include="acudiente/navbar.html" th:remove="tag"></div>
    <div class="container-lg pr-1 pl-1">
        <div class="row">
            <div class="col-lg-7">
                <section class="layout nopaddingright">
                    <div class="main card w-100">
                        <div class="card-title row titletable">
                            <div class="col text-left">
                                <h2>Anuncios&nbsp;<span class="badge">Acudiente</span></h2>
                                <p>Consulta los anuncios asociados a los estudianes.</p>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="row filter-container">
                                <div class="col-lg-12">
                                    <label class="col-lg-3"><b>Estudiante</b></label>
                                    <input type="text" th:if="${unicoEstudiante != null}" th:value="${unicoEstudiante}"
                                        id="unicoEstudiante" hidden>
                                    <select id="estudiantes" class="border" data-live-search="true"
                                        data-none-results-text="No se encontró {0}">
                                        <option disabled th:selected="${true}" th:text="${'Selecciona un Estudiante'}"
                                            th:value="${0}"></option>
                                        <option th:each="estudiante:${estudiantes}" th:value="${estudiante.id}"
                                            th:text="${estudiante.nombres} + ' ' + ${estudiante.apellidos}"></option>
                                    </select>
                                </div>
                            </div>

                            <div id="difusiones" th:include="acudiente/comunicaciones/difusiones/table"></div>


                        </div>
                    </div>

                </section>
            </div>
            <div class="col-lg-5">
                <section class="layout nopaddingleft">
                    <div class="main card w-100">
                        <div class="card-title titletable">
                            <div class="col text-right">
                                <h2>Mensajes&nbsp;<span class="badge">Profesor</span></h2>
                                <p>Conmunicación directa con los acudientes.</p>
                            </div>
                            <div class="col text-right">
                                <button type="button" class="btn boton__materias mb-2 row w-50" data-toggle="modal"
                                    data-target="#modalFormChat">
                                    <span class="fa fa-plus fa-1x"></span>
                                    <span class="align-middle">Nueva Conversación</span>
                                </button>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div id="difusiones" th:include="acudiente/comunicaciones/chats/table"></div>
                        </div>
                        <!--Formulario Chat-->
                        <div class="modal fade" tabindex="-1" role="dialog" id="modalFormChat">
                            <div class="modal-dialog modal-sm d-flex justify-content-center" role="document">
                                <div class="modal-content" style="max-width:100%">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Nueva Conversación</h5>
                                        <button type="button" class="close icon-cerrar" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body p-3 justify-content-center">
                                        <div th:include="acudiente/comunicaciones/chats/form"
                                            class="modal-body justify-content-center" id="formNewChat">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </section>
            </div>

        </div>

    </div>

    <div th:include="profesor/comunicaciones/difusiones/confirmDelete" th:remove="tag"></div>

    <script type="text/javascript">
        let unicoEstudiante = $("#unicoEstudiante").val();
        if (unicoEstudiante > 0) {
            $("#estudiantes").prop("selectedIndex", 1);
            $("#estudiantes").selectpicker("refresh");
            $("#estudiantesSelect").prop("selectedIndex", 1);
            $("#estudiantesSelect").selectpicker("refresh");

            var url = "comunicaciones/difusiones/" + unicoEstudiante;
            $('#difusiones').load(url);


            url = "/acudiente/comunicaciones/profesores/" + unicoEstudiante;
            $('#profesores').load(url);
            
            table.rows().remove().draw();
        }
    </script>
</body>

</html>