<!--MATERIAS-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
                initial-scale=1.0">
    <title>Acudiente | Horarios</title>

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/avatar1.png" th:href="@{../img/avatar1.png}">
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <!-- Local Files-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/estudiante/horario.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/coordinador/horarios.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <script type="text/javascript" th:src="@{/js/estudiante/horarios.js}"></script>

</head>

<body>
    <!-- NAVBAR -->
    <div th:include="/acudiente/navbar.html" th:remove="tag"></div>

    <div class="container-lg pr-1 pl-1">
        <section class="layout">
            <div class="main card w-100">
                <div class="card-title row titletable">
                    <div class="col text-left">
                        <h2>Horario&nbsp;<span class="badge">Acudiente</span></h2>
                        <p>Despliegue del horario del Estudiante para el Acudiente.</p>
                    </div>
                    
                </div>
                <div id="estudiantes" class="col-lg-7">
                    <script type="text/javascript" th:src="@{/js/profesor/observador.js}"></script>
                    <label class="col-lg-3"><b>Estudiante</b></label>
                    <select id="estudiantesSelect" class="w-50 border" data-live-search="true"
                        data-none-results-text="No se encontró {0}">
                        <option disabled th:selected="${true}" th:text="${'Selecciona un Estudiante'}" th:value="${0}"></option>
                        <option th:each="estudiante:${estudiantes}" th:value="${estudiante.id}" th:text="${estudiante.nombres} + ' ' + ${estudiante.apellidos}"></option>
                    </select>
                </div>
                <div class="card-body ">
                    <!-- TABLA DE HORARIOS -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="6" class="bg-secondary border border-dark">
                                        <div class="justify-content-center">
                                            <label class="h4">Estudiante:&nbsp;</label><label class="h4 font-weight-normal" th:text="${nombreEstudiante}"></label><br>
                                            <label class="h4">Curso:&nbsp;</label><label class="h4 font-weight-normal" th:text="${nombreCurso}"></label>
                                            
                                            
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Hora</th>
                                    <th>Lunes</th>
                                    <th>Martes</th>
                                    <th>Miércoles</th>
                                    <th>Jueves</th>
                                    <th>Viernes</th>
                                </tr>
                            </thead>
                            <tbody id="seccionHorario" th:include="estudiante/horario/horario.html">

                            </tbody>
                        </table>
                    </div>
                    <!-- MODAL DE INFORMACIÓN PARA LAS MATERIAS -->

                    <div class="modal fade show" tabindex="-1" role="dialog" id="modalInfoMaterias">
                        <div class="modal-dialog modal d-flex justify-content-center" role="document">
                            <div class="modal-content mt-5" th:include="estudiante/horario/infoMaterias.html">

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section> 
    </div>

</body>

</html>