<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<div th:include="navbar.html" th:remove="tag"></div>
<table class="table">
    <tr>
        <th>nombre</th>
        <th>documento</th>
        <th>curso</th>
    </tr>
           <tr th:each="estudiante:${estudiantes601}">
               <th th:text="${estudiante.nombre}"></th>
               <th th:text="${estudiante.documento}"></th>
               <th th:text="${estudiante.curso.descripcion}"></th>
           </tr>
</table>
<div class="container mt-4 p-4">
    <!--Formulario-->
    <div class="modal fade" tabindex="-1" role="dialog" id="modalFormEstudiantes">
        <div class="modal-dialog modal-lg d-flex justify-content-center" role="document">
            <div class="modal-content" style="max-width:80%">
                <div class="modal-header">
                    <h5 class="modal-title">Nuevo Estudiante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4 d-flex justify-content-center">
                    <form id="estudiantesForm" th:object="${nuevoEstudiante}" method="post" class="form col-lg" role="form"
                          autocomplete="off" th:action="@{/estudiantes}">
                        <!--Es necesario para poder pasar la validacion del Model-->
                        <input class="form-control" hidden th:field="${nuevoEstudiante.id}">

                        <div class="form-group row">
                            <label class="col-lg-3 col-lg form-label form-control-label"><b>Estudiante</b></label>
                            <input class="form-control col-lg-9" th:field="${nuevoEstudiante.nombre}">
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-4 col-lg form-label form-control-label"><b>Tipo de documento</b></label>
                            <select th:field="${nuevoEstudiante.tipoDocumento}" required class="btn dropdown-toggle border col-lg-6">

                                <option th:each="tipoDoc:${tiposDocumento}" th:value="${tipoDocStat.index + 1}" th:text="${tipoDoc}"></option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-lg form-label form-control-label"><b>Documento</b></label>
                            <input class="form-control col-lg-9" th:field="${nuevoEstudiante.documento}">
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-lg form-label form-control-label"><b>Curso</b></label>
                            <!--                                <select th:field="${nuevoEstudiante.curso}" required class="btn dropdown-toggle border col-lg-6">-->
                            <!--                                   -->
                            <!--                                    <option th:each="curso:${cursos}" th:value="${curso.id}" th:text="${curso.descripcion}"></option>-->
                            <!--                                </select>-->
                        </div>

                        <div class="form-group row d-flex justify-content-center">
                            <input type="submit" value="Guardar" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success mb-2" data-toggle="modal" data-target="#modalFormEstudiantes">
        Nuevo Estudiante
    </button>

</body>
</html>