<link rel="stylesheet" type="text/css" href="../../static/css/navbar.css" th:href="@{/css/navbar.css}">

<!-- Los iconos tipo Solid de Fontawesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <div class="container">
        <a class="navbar-brand mr-auto"><img src="../../static/img/avatar1.png"
                th:src="@{/img/avatar1.png}" height="40" width="35" alt="AKDEMY"></a>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                <ul class="menu align-items-center">
                    <li th:class="${itemNavbar == 'inicio'} ? 'nav-item active' : 'nav-item'">
                        <a class="nav-link" href="/estudiante">
                            <span class="fa fa-home fa-lg"></span>
                            <span class="texto_navbarItem"> Inicio</span>
                        </a>
                    </li>

                    <li th:class="${itemNavbar == 'curso'} ? 'nav-item active' : 'nav-item'">
                        <a class="nav-link" href="/estudiante/curso">
                            <span class="fa fa-info fa-lg"></span>
                            <span class="texto_navbarItem"> Curso</span>
                        </a>
                    </li>

                    <li th:class="${itemNavbar == 'horario'} ? 'nav-item active' : 'nav-item'">
                        <a class="nav-link" href="/estudiante/horario">
                            <span class="fa fa-calendar-alt fa-lg"></span>
                            <span class="texto_navbarItem"> Horario</span>
                        </a>
                    </li>

                    <li th:class="${itemNavbar == 'observador'} ? 'nav-item active' : 'nav-item'">
                        <a class="nav-link" th:href="@{/estudiante/observador}">
                            <span class="fa fa-pen-to-square fa-lg"></span>
                            <span class="texto_navbarItem"> Observador</span>
                        </a>
                    </li>
                </ul>
            </ul>
            <span class="navbar-text menu align-items-center">
                <a th:href="@{/logout}" style="text-decoration:none">
                    <span class="fa fa-sign-out fa-lg"></span>
                    <span class="texto_cerrarSesion"> Cerrar Sesión</span>
                </a>
            </span>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>