table.loading tbody {
    position: relative;
  }
  
  table.loading tbody:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../../img/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    content: "";
  }