body{
    background: url(../img/fondo-login.png) no-repeat center center fixed; 
    /* background-color: lightsteelblue; */
    background-size: cover;
}

.main-section{
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: red;
}
.container{
    background-color: blue;
    height: 78vh;
    max-width: 80%;
    max-height: 90vh;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 0;
}

.modal-content{
    /* background-color:snow; */
    background-image: linear-gradient(rgb(68,98,158),rgb(55,80,130));
    padding: 5%;
    border:none;
    border-radius: 0px;
    text-align: center;
    /* box-shadow: 0px 0px 10px 1px rgb(34, 61, 98); */
}

.form-content{
}



.modal-content h3{
    color: rgb(242,242,252);
    font-family: "Bahnschrift";
}

.btn{
    background-color: rgb(82, 187, 138);
    -webkit-border-radius: 50px;
    border-radius: 50px;
    height: 50px;
    border: none;
    color: white;
    font-weight: bold;
    width: 60%;
    margin: 5px 0 25px;
}

.btn:hover{
    background-color: rgb(61, 158, 113);
    border: none;

}

.btn:active{
    background-color: rgb(99, 199, 152);
    border: none;
    box-shadow: none;
}

.btn:focus{
    box-shadow: none;
}


.form-group input{
    background-color: rgb(242,242,252);
    -webkit-border-radius: 50px;
    border-radius: 50px;
    height: 50px;
    border: none;
    text-align: center;
    padding-left: 0px;
}

.form-control:focus{
    box-shadow: 0 0 15px 2px rgba(4, 19, 48, 0.877); 
    /* border-bottom: 2px solid rgb(9, 65, 92); */
    /* box-shadow: none;
    box-shadow:50px red; */
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 30px;
    font-size: 20px;
    padding-top: 10px;
    color: rgb(9, 65, 92);
}
.form-group#user-group::before{
    content: "\f007";
}

.form-group#password-group::before{
    content: "\f023";
}

.modal-info{
    background-color:rgb(242,242,252);
    padding: 5%;
    border:none;
}

.modal-info h3{
    color: rgb(39,56,91);
    font-family: "Bahnschrift";
    font-weight: bold;
    font-size: 35px;
}

.modal-info img{
    width: 200px;
}

.modal-info label{
    margin: 5px;
    font-family: "Bahnschrift";
    color: rgb(39,56,91);
    font-size: 20px;
}
