*,*:after, *:before{
    box-sizing: inherit;
}

body{
    background: url("../img/fondo-login.png");
    background-size: cover;
    margin: 0 auto;
}
.contenedor{
    background-image: linear-gradient(rgb(68,98,158),rgb(55,80,130));
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 350px;
    padding-top: 30px;
}

.titulo{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4px;
    color: floralwhite;
    
}
.contenedor_boton {
    margin: 12px;
    display: grid;
    grid-template-columns: repeat(auto,1fr);
    gap: 24px;
}
.boton {
    background-color: rgb(82, 187, 138);
    color: floralwhite;
    padding: 20px 50px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1rem;
    -webkit-border-radius: 50px;
    text-align: center;
    margin: 0 5px;
}
.boton:hover {
    background-color: floralwhite;
    color: rgb(82, 187, 138);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.boton:nth-child(4){
    margin-bottom: 20px;
}