*,*:after, *:before{
    box-sizing: inherit;
}

body{
    background: url("../img/fondo-login.png");
    background-size: cover;
    margin: 0 auto;
}
.contenedor{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 640px;
    padding-top: 60px;
    background-color: #119bf1;
    border-radius: 1rem;
}

.titulo{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 4px;
    
}
.contenedor_boton {
    margin: 12px;
    display: grid;
    grid-template-columns: repeat(auto,1fr);
    gap: 36px;
}
.boton {
    background-color: #0f0a8e;
    color: floralwhite;
    padding: 20px 50px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 1rem;
    text-align: center;
    margin: 0 5px;
}
.boton:hover {
    border-color: #0f0a8e;
    background-color: floralwhite;
    color: #0f0a8e;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}