<!--MATERIAS-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
                initial-scale=1.0">
    <title>Estudiante | Horario</title>

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/avatar1.png" th:href="@{../img/avatar1.png}">
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <!-- Local Files-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/estudiante/observador.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <script type="text/javascript" th:src="@{/js/estudiante/cursos.js}"></script>

</head>

<body>
    <!-- NAVBAR -->
    <div th:include="/estudiante/navbar.html" th:remove="tag"></div>

    <div class="container-lg pr-1 pl-1">
        <section class="layout">
            <div class="main card w-100">
                <div class="card-title row titletable">
                    <div class="col text-left">
                        <h2>Curso&nbsp;<span class="badge">Estudiante</span></h2>
                        <p>Listado de los compañeros de curso del estudiante.</p>
                    </div>
                    
                </div>
                <div class="card-body">
                    <table id="cursoTable" class="table table-borderless table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre Completo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="estudiante:${estudiantes}">
                                <td th:text="${estudiante.id}"></td>
                                <td th:text="${estudiante.nombres} + ' ' + ${estudiante.apellidos}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </section> 
    </div>

</body>

</html>