<form id="editarProfesorForm" th:action="@{/saveprofesor}"
    th:object="${editarProfesor}" method="POST" th:if="${editarProfesor != null}">

    <!--Es necesario para poder pasar la validacion del Model-->
    <input class="form-control" hidden th:field="*{id}">

    <div class="form-group">
        <label for="names"><b>Nombres</b></label>
        <input required th:field="*{nombres}" type="text"
            class="form-control" id="names"
            placeholder="Nombre(s)">
    </div>
    <div class="form-group">
        <label for="lastnames"><b>Apellidos</b></label>
        <input required th:field="*{apellidos}" type="text"
            class="form-control" id="lastnames"
            placeholder="Apellido(s)">
    </div>
    <div class="form-group">
        <label for="birthdate"><b>Fecha de Nacimiento</b></label>
        <input required th:field="*{fechaNacimiento}" type="date"
            class="form-control" id="birthdate"
            placeholder="Password">
    </div>
    <div class="form-group">
        <label for="document"><b>Documento</b></label>
        <input required th:field="*{documento}" type="number"
            class="form-control" id="document"
            placeholder="Documento">
    </div>
    <div>
        <label for="user"><b>Usuario Asociado</b></label>
        <select readonly required class="form-control"
            th:field="*{usuario.id}" id="user">
            <option readonly selected
                th:value="*{usuario.id}"
                th:text="*{usuario.username}"></option>
        </select>
    </div>
    <br>
    <button type="submit" class="w-100 btn guardar"
        width="100%" id="btnSubmit2">Guardar</button>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        $("#editarProfesorForm").submit(function (e) {
            e.preventDefault();
            activateLoadingButton($("#btnSubmit2"), true);
    
            $.ajax({
                type: "post",
                url: "/saveprofesor",
                data: $(this).serialize(),
                success: function () {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.success("Profesor actualizado");
                    desactivateLoadingButton($("#btnSubmit2"), "Guardar", false);
                    closeModal($("#modalFormEditarProfesor"));
                    cargarProfesores();
                    resetForm();
                },
                error: function () {
                    desactivateLoadingButton($("#btnSubmit2"), "Guardar", false);
                    defaultErrorNotify();
                }
            })
        });
    })
</script>