<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,
            initial-scale=1.0">
        <title>Coordinador | Profesores</title>

        <link rel="shortcut icon" type="image/x-icon" href="../static/img/avatar1.png" th:href="@{../img/avatar1.png}">
        <!--JQUERY-->
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- Datables-->
        <link rel="stylesheet" type="text/css"
            href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
        <!-- Icons-->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- Local Files-->
        <script type="text/javascript" th:src="@{/js/coordinador/profesores.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/coordinador/profesores.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
    </head>

    <body>
        <div th:include="coordinador/navbar.html" th:remove="tag"></div>
        <header class="">
            <div class="container">
                <div class="row row-header">
                    <div class="col-12 align-items-center">
                    </div>
                </div>
            </div>
        </header>
        <div class="container-lg pr-4 pl-4">
           <section class="layout">
               <div class="main card w-100">
                   <div class="card-title row titletable">
                        <div class="col text-left">
                            <h2>Profesores &nbsp;<span class="badge">Coordinador</span></h2>
                            <p>Listado de Profesores</p>
                        </div>
                        <div class="col crearProfe">
                            <button type="button" class="btn mb-2 row boton__crearProfe w-50"
                                data-toggle="modal"
                                data-target="#modalFormProfesor">
<!--                                Creacion Profesor -->
                                <span class="fa fa-user-plus fa-1x"></span>
                                <span class="align-middle">Crear Profesor</span>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="teachers" class=" table table-borderless table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Documento</th>
                                    <th>Usuario</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="profesor:${profesores}">
                                    <td th:text="${profesor.id}"></td>
                                    <td th:text="${profesor.nombres}"></td>
                                    <td th:text="${profesor.apellidos}"></td>
                                    <td th:text="${profesor.fechaNacimiento}"></td>
                                    <td th:text="${profesor.documento}"></td>
                                    <td th:text="${profesor.usuario.username}"></td>
                                    <td>
                                        <button type='button' class='btn btn-info
                                            btn-sm' th:onclick="editarProfesor([[${profesor.id}]])">
                                            <span class="fas fa-user-pen"></span>
                                            
                                        </button>
                                        <button type='button' class='btn btn-danger
                                            btn-sm' th:onclick="confirmDeleteProfesor([[${profesor.id}]])">
                                            <span class="fas fa-user-times"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section> 
        </div>
    
        <!--Formulario-->
        <div class="modal fade" tabindex="-1" role="dialog"
            id="modalFormProfesor">
            <div class="modal-dialog modal-lg d-flex justify-content-center"
                role="document">
                <div class="modal-content" style="max-width:80%">
                    <div class="modal-header">
                        <h5 class="modal-title">Nuevo Profesor</h5>
                        <button type="button" class="close icon-cerrar" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-5 justify-content-center">
                        <form th:action="@{/saveprofesor}"
                            th:object="${profesor}" method="POST">
                            <div class="form-group">
                                <label for="names"><b>Nombres</b></label>
                                <input required th:field="*{nombres}" type="text"
                                    class="form-control" id="names"
                                    placeholder="Nombre(s)">
                            </div>
                            <div class="form-group">
                                <label for="lastnames"><b>Apellidos</b></label>
                                <input required th:field="*{apellidos}" type="text"
                                    class="form-control" id="lastnames"
                                    placeholder="Apellido(s)">
                            </div>
                            <div class="form-group">
                                <label for="birthdate"><b>Fecha de Nacimiento</b></label>
                                <input required th:field="*{fechaNacimiento}" type="date"
                                    class="form-control" id="birthdate"
                                    placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="document"><b>Documento</b></label>
                                <input required th:field="*{documento}" type="number"
                                    class="form-control" id="document"
                                    placeholder="Documento">
                            </div>
                            <div>
                                <label for="user"><b>Usuario Asociado</b></label>
                                <select class="form-control"
                                required th:field="${profesor.usuario.id}" id="user">
                                    <option th:each="user:${users}"
                                        th:value="${user.id}"
                                        th:text="${user.username}"></option>
                                </select>
                            </div>
                            <br>
                            <button type="submit" class="w-100 btn guardar"
                                width="100%">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--Formulario Editar-->
        <div class="modal fade" tabindex="-1" role="dialog"
            id="modalFormEditarProfesor">
            <div class="modal-dialog modal-lg d-flex justify-content-center"
                role="document">
                <div class="modal-content" style="max-width:80%">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Profesor</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-4 justify-content-center">
                        <div th:include="coordinador/profesores/editarProfesor.html"
                        class="modal-body justify-content-center" id="formEditarProfesor">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:include="coordinador/profesores/confirmDelete.html" th:remove="tag"></div>

    <div id="deleteError" th:if="${deleteError}" class="alert alert-danger text-center" role="alert">
        <span th:text="${deleteError}"></span>
    </div>

    <div th:include="common/modalLoading.html" th:remove="tag"></div> 
    
    </body>

</html>