<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AKDEMY | Iniciar Sesión</title>
        
        <link rel="shortcut icon" type="image/x-icon" href="../static/img/avatar.png" th:href="@{/img/avatar.png}">
    
        <!--JQUERY-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
        <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
        <!-- Los iconos tipo Solid de Fontawesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
        <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
        <!-- Nuestro css-->
        <link rel="stylesheet" type="text/css" href="../static/css/menu.css" th:href="@{/css/menu.css}">
        <link rel="stylesheet" href="css/normalize.css">
    </head>
<body>

    <nav class="navbar navbar-dark navbar-expand-sm">
        <div class="container">
            <a href="menuEstudiantes.html" class="navbar-brand mr-auto"><img src="../static/img/avatar1.png" height="40" width="35" alt="AKDEMY"></a>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" href="./index.html"><span class="fa fa-home fa-lg"></span>Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="./aboutus.html"><span class="fa fa-info fa-lg"></span>Curso</a></li>
                    <li class="nav-item"><a class="nav-link" href="#"><span class="fa fa-list fa-lg"></span>Horario</a></li>
                </ul> 
                <span class="navbar-text">
                    <a><span class=""></span>Cerrar Sesión</a>
                </span>   
            </div>  
        </div>
    </nav>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-12 align-items-center">
                    <h2>AKDEMY <span class="badge badge-dark">Curso</span> </h2>
                    <p>El estudiante ... pertenece el curso <span class="badge badge-dark">6-B</span> y de tutor <span class="badge badge-dark">Lionel Messi</span> </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-content">
                <div class="col-12 col-sm">
                    <div class="table-responsive">
                        <table class="table table-active">
                            <thead class="table-dark">
                                <tr>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Andrés Camilo</th>
                                    <td>Moreno Torres</td>
                                    
                                </tr>
                                <tr>
                                    <th>Laura </th>
                                    <td>Martinez Duque</td>
                                
                                </tr>
                                <tr>
                                    <th>Camila</th>
                                    <td>Suarez Escobar</td>
                                    
                                </tr>
                                <tr>
                                    <th>Pablo Emilio</th>
                                    <td>Uribe Velez</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <footer class="footer">
        <div class="container">
            <div class="row">     
                <div class="col-12 col-sm-3">

                </div>        
                <div class="col-12 col-sm-4 align-items-center">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Curso</a></li>
                        <li><a href="#">Horario</a></li>
                    </ul>
                </div>
                <div class="col col-sm">
                    <h5>Our Address</h5>
                    <address>
                        <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                        <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
		           </address>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2022 AKDEMY</p>
                </div>
           </div>
        </div>
    </footer>
    
    
</body>
</html>