<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKDEMY | Iniciar Sesión</title>
    
    <link rel="shortcut icon" type="image/x-icon" href="../static/img/avatar.png" th:href="@{/img/avatar.png}">

    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" th:href="@{/css/index.css}">
</head>

<body>

    <div class="contenedor">
        <div class="contenedor__principal sombra">
            <div class="formulario">
                <div class="inicio_sesion ">
                    <div class="formulario__titulo">
                        <br>
                        <h3>BIENVENIDO</h3>
                        <br>
                    </div>
                    <div th:if="${param.error}" class="alert alert-danger" role="alert">
                        Usuario o contraseña inválidos.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success" role="alert">
                        Se ha cerrado la sesión.
                    </div> 
                    <form class="formulario__form" th:action="@{/login}" method="post">
                        <div class="campo" id="user-group">
                            <input id="username" class="input-text" type="text" placeholder="Usuario"
                                name="username" />
                        </div>
                        <div class="campo" id="password-group">
                            <input class="input-text" type="password" placeholder="Contraseña" name="password" />
                        </div>
                        <div class="campo__boton">
                            <button type="submit" class="btn boton"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                        </div>
                    </form> 
                    
                </div>

            </div>
            <div class="logo">
                <div class="logo__seccion">
                    <div class="logo__titulo">
                        <br>
                        <h3>AKDEMY</h3><br>
                        <img th:src="@{/img/avatar1.png}" src="../static/img/avatar1.png" width="200" height="230">
                    </div>
                    <div>
                        <br>
                        <label>Administra tu instituión</label>
                    </div>

                </div>
            </div>

        </div>
    </div>
</body>

</html>