<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AKDEMY | Seleccionar Rol</title>

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/avatar.png" th:href="@{/img/avatar.png}">

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/seleccionarRol.css" th:href="@{/css/seleccionarRol.css}">
    <link rel="stylesheet" href="../static/css/normalize.css">
</head>

<body>
    <div class="contenedor container mt-5 pb-2">
        <div class="titulo">
            <h3>Seleccione su Rol</h3>
        </div>
        <div class="contenedor_boton">
            <div th:each="rol: ${roles}" th:remove="tag">
                <a th:if="${rol.name == 'COORDINADOR'}" th:href="@{/coordinador}" class="boton">Coordinador  
                    <img src="../static/img/coordinador1.png" th:src="@{/img/coordinador1.png}" width="50" height="50" alt="Coordinador">
                </a>
                <a th:if="${rol.name == 'PROFESOR'}" th:href="@{/profesor}" class="boton">Profesor
                    <img src="../static/profesor.png" th:src="@{/img/profesor.png}" width="50" height="50" alt="Profesor">
                </a>
            </div>
        </div>
        <div class="contenedor_boton">
            <div th:each="rol: ${roles}" th:remove="tag">
                <a th:if="${rol.name == 'ACUDIENTE'}" th:href="@{/acudiente}" class="boton">Acudiente 
                    <img src="../static/img/acudiente.png" th:src="@{/img/acudiente.png}" width="50" height="50" alt="Acudiente">
                </a>
                <a th:if="${rol.name == 'ESTUDIANTE'}" th:href="@{/estudiante}" class="boton">Estudiante 
                    <img src="../static/img/estudiante.png" th:src="@{/img/estudiante.png}" width="50" height="50" alt="Estudiante">
                </a>
            </div>
        </div>
    </div>
</body>

</html>