<tr class="horarios" th:each="hora:${horas}">
    <th class="table-active" th:text="${hora + ':00'}"></th>
    <!-- LUNES -->
    <td class="dia" th:onclick="nuevoHorario(
            [[${nombreCurso}]],
            [[${'Lunes'}]],
            [[${hora}]]
        )" title="Agregar materia" name="my_col">
        <div th:each="horario:${horarios}" title="Ver información"
            th:if="${hora >= #dates.format(horario.horaInicio,'HH') AND hora < #dates.format(horario.horaFin,'HH') AND horario.dia == 'Lunes'}"
            th:onclick="infoMateria(
                [[${horario.id}]],
                [[${horario.materia.materia.nombre}]],
                [[${'Lunes'}]],
                [[${#dates.format(horario.horaInicio,'HH:mm')}]],
                [[${#dates.format(horario.horaFin,'HH:mm')}]],
                [[${horario.profesor.nombres}]],
                [[${horario.profesor.apellidos}]],
                [[${horario.materia.descripcion}]]
            )">
            <input type="hidden" th:id="${'Lunes' + hora}" th:value="${1}">
            <label th:text="${horario.materia.materia.nombre}" name="labelMateria"></label>
        </div>
    </td>
    <!-- MARTES -->
    <td class="dia" th:onclick="nuevoHorario(
            [[${nombreCurso}]],
            [[${'Martes'}]],
            [[${hora}]]
        )" title="Agregar materia">
        <div th:each="horario:${horarios}" title="Ver información"
            th:if="${hora >= #dates.format(horario.horaInicio,'HH') AND hora < #dates.format(horario.horaFin,'HH') AND horario.dia == 'Martes'}"
            th:onclick="infoMateria(
                [[${horario.id}]],
                [[${horario.materia.materia.nombre}]],
                [[${'Martes'}]],
                [[${#dates.format(horario.horaInicio,'HH:mm')}]],
                [[${#dates.format(horario.horaFin,'HH:mm')}]],
                [[${horario.profesor.nombres}]],
                [[${horario.profesor.apellidos}]],
                [[${horario.materia.descripcion}]]
            )">
            <input type="hidden" th:id="${'Martes' + hora}" th:value="${1}">
            <label th:text="${horario.materia.materia.nombre}" name="labelMateria"></label>
        </div>
    </td>
    <!-- MIÉRCOLES -->
    <td class="dia" th:onclick="nuevoHorario(
            [[${nombreCurso}]],
            [[${'Miércoles'}]],
            [[${hora}]]
        )" title="Agregar materia">
        <div th:each="horario:${horarios}" title="Ver información"
            th:if="${hora >= #dates.format(horario.horaInicio,'HH') AND hora < #dates.format(horario.horaFin,'HH') AND horario.dia == 'Miércoles'}"
            th:onclick="infoMateria(
                [[${horario.id}]],
                [[${horario.materia.materia.nombre}]],
                [[${'Miércoles'}]],
                [[${#dates.format(horario.horaInicio,'HH:mm')}]],
                [[${#dates.format(horario.horaFin,'HH:mm')}]],
                [[${horario.profesor.nombres}]],
                [[${horario.profesor.apellidos}]],
                [[${horario.materia.descripcion}]]
            )">
            <input type="hidden" th:id="${'Miércoles' + hora}" th:value="${1}">
            <label th:text="${horario.materia.materia.nombre}" name="labelMateria"></label>
        </div>
    </td>
    <!-- JUEVES -->
    <td class="dia" th:onclick="nuevoHorario(
            [[${nombreCurso}]],
            [[${'Jueves'}]],
            [[${hora}]]
        )" title="Agregar materia">
        <div th:each="horario:${horarios}" title="Ver información"
            th:if="${hora >= #dates.format(horario.horaInicio,'HH') AND hora < #dates.format(horario.horaFin,'HH') AND horario.dia == 'Jueves'}"
            th:onclick="infoMateria(
                [[${horario.id}]],
                [[${horario.materia.materia.nombre}]],
                [[${'Jueves'}]],
                [[${#dates.format(horario.horaInicio,'HH:mm')}]],
                [[${#dates.format(horario.horaFin,'HH:mm')}]],
                [[${horario.profesor.nombres}]],
                [[${horario.profesor.apellidos}]],
                [[${horario.materia.descripcion}]]
            )">
            <input type="hidden" th:id="${'Jueves' + hora}" th:value="${1}">
            <label th:text="${horario.materia.materia.nombre}" name="labelMateria"></label>
        </div>
    </td>
    <!-- VIERNES -->
    <td class="dia" th:onclick="nuevoHorario(
            [[${nombreCurso}]],
            [[${'Viernes'}]],
            [[${hora}]]
        )" title="Agregar materia">
        <div th:each="horario:${horarios}" title="Ver información"
            th:if="${hora >= #dates.format(horario.horaInicio,'HH') AND hora < #dates.format(horario.horaFin,'HH') AND horario.dia == 'Viernes'}"
            th:onclick="infoMateria(
                [[${horario.id}]],
                [[${horario.materia.materia.nombre}]],
                [[${'Viernes'}]],
                [[${#dates.format(horario.horaInicio,'HH:mm')}]],
                [[${#dates.format(horario.horaFin,'HH:mm')}]],
                [[${horario.profesor.nombres}]],
                [[${horario.profesor.apellidos}]],
                [[${horario.materia.descripcion}]]
            )">
            <input type="hidden" th:id="${'Viernes' + hora}" th:value="${1}">
            <label th:text="${horario.materia.materia.nombre}" name="labelMateria"></label>
        </div>
    </td>
</tr>

<script type="text/javascript">
    colores = ["#ff6961", "#77dd77", "#fdfd96", "#84b6f4", "#fdcae1", "#fcb7af", "#b0f2c2", "#d8af97", "#ff9688", "#ffda9e","#c5c6c8","#b2e2f2","#a0d995","#c8ca66","#dcd9f8","#d8f79a","#95fab9","#ba9df4"];
    if(typeof(materias) === 'undefined')
        materias = new Map();


    $(document).ready(function () {
        let cols = document.getElementsByName("labelMateria");
        let i = 0;
        while (i < cols.length) {
            let div = cols.item(i).parentElement;
            let materia = cols.item(i++).textContent;
            div.style.backgroundColor = _color(materia);
        }
        $("#tabla-horarios").removeClass("loading");    
    })

    function _hash(key) {
        let hash = 0;
        for (let i = 0; i < key.length; i++) {
            hash += key.charCodeAt(i);
        }

        return hash;
    }

    function _color(materia) {
        let colorId = materias.get(materia);

        if (colorId != null) {
            return colores[colorId];
        }

        let coloresUsados = Array.from(materias.values());
        let hash = _hash(materia);
        colorId = hash % colores.length;

        let iterator = 0;
        while (iterator < colores.length) {

            if (coloresUsados.includes(colorId)) {
                colorId = ++colorId % colores.length;
                iterator++;
            } else {
                break;
            }
        }
        //console.log(materias)
        materias.set(materia, colorId);
        return colores[colorId];
    }
</script>