<form id="editarMateriasGradoForm" th:object="${editarMateriaGrado}" method="post" class="form col-lg" role="form"
    autocomplete="off" th:action="@{/savemateriaGrado}" th:if="${editarMateriaGrado != null}">
    <!--Es necesario para poder pasar la validacion del Model-->
    <input class="form-control" hidden th:field="*{id}">

    <div class="form-group row">
        <label class="col-lg-3 form-label form-control-label"><b>Materia</b></label>
        <div class="col-lg-8 search_select_box">
            <select th:field="${editarMateriaGrado.materia}" id="editarMateria" class="w-100 border selectpicker"
                data-live-search="true" data-none-results-text="No se encontró
                {0}">
                <option value="0">Seleccione</option>
                <option th:each="materia:${materias}" th:value="${materia.id}" th:text="${materia.nombre}"></option>
            </select>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-lg-3 col-lg form-label form-control-label"><b>Grado</b></label>
        <div class="col-lg-8 search_select_box">
            <input th:field="${editarMateriaGrado.grado}" class="form-control">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-lg-3 col-lg form-label form-control-label"><b>Descripción</b></label>
        <div class="col-lg-8 search_select_box">
            <input th:field="${editarMateriaGrado.descripcion}" class="form-control">
        </div>
    </div>

    <br>
    <div class="form-group row d-flex justify-content-center">
        <button id="btnSubmit2" type="submit" class="btn guardar w-75">Guardar
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('.search_select_box select').selectpicker();
        $("#editarMateriasGradoForm").submit(function (e) {
            e.preventDefault();
            valid = verificateForm($("#editarMateria"))
            if (!valid) {
                return;
            }
            activateLoadingButton($("#btnSubmit2"), true);

            $.ajax({
                type: "post",
                url: "/savemateriaGrado",
                data: $(this).serialize(),
                success: function () {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.success("Materia actualizada");
                    desactivateLoadingButton($("#btnSubmit2"), "Guardar", false);
                    closeModal($("#modalFormEditarMateriasGrado"));
                    cargarMaterias();
                },
                error: function () {
                    desactivateLoadingButton($("#btnSubmit2"), "Guardar", false);
                    defaultErrorNotify();
                }
            })
        });
    })
</script>
