<!--CURSOS-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
                initial-scale=1.0">
    <title>Profesor | Cursos</title>

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/avatar1.png" th:href="@{../img/avatar1.png}">
    <!--JQUERY-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- DataTables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- Icons-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- Local Files-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/profesor/cursos.css}">
    <link rel="stylesheet" type="text/css" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}">

    <script src="https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json"></script>
</head>

<body>
    <div th:include="profesor/navbar.html" th:remove="tag"></div>
    <div class="container-lg pr-4 pl-4">
        <section class="layout">
            <div class="main card w-100">
                <div class="card-title row titletable">
                    <div class="col text-left">
                        <h2>Cursos&nbsp;<span class="badge">Profesor</span></h2>
                        <p>Listado de Cursos a los cuales debe atender a clase.</p>
                    </div>
                    <div class="col text-right">
                        <a href="/profesor/horario">
                            <button type="button" class="btn boton__cursos mb-2 row w-50 verHorario" >
                                <span class="fa fa-calendar-alt fa-1x"></span>
                                <span class="align-middle">Ver Horario</span> 
                           </button> 
                        </a>
                    </div>
                </div>
                <div class="card-body ">
                    <table id="courses" class="table table-borderless table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID del Curso</th>
                                <th>Curso</th>
                                <th>Materias a Dictar</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                        
                    </table>
                </div>
            </div>

        </section> 
    </div>
</body>

</html>