
<form id="editarMateriasForm" th:object="${editarMateria}" method="post" class="form col-lg" role="form"
    autocomplete="off" th:action="@{/savemateria}" th:if="${editarMateria != null}">
    <!--Es necesario para poder pasar la validacion del Model-->
    <input class="form-control" hidden th:field="*{id}">

    <div class="form-group row">
        <label class="col-lg-3 col-lg form-label form-control-label"><b>Nombre de la materia</b></label>
        <div class="col-lg-7 search_select_box">
            <input th:field="${editarMateria.nombre}" class="form-control">
        </div>
    </div>

    <div class="form-group row d-flex justify-content-center">
        <button type="submit" id="btnSubmit2" class="btn guardar w-100">Guardar
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $("#editarMateriasForm").submit(function (e) {
            activateLoadingButton($("#btnSubmit2"), true);
            e.preventDefault();

            $.ajax({
                type: "post",
                url: "/savemateria",
                data: $(this).serialize(),
                success: function () {
                    toastr.options.positionClass = 'toast-bottom-right';
                    toastr.success("Materia actualizada");
                    desactivateLoadingButton($("#btnSubmit"), "Guardar", false);
                    closeModal($("#modalFormEditarMaterias"));
                    cargarMaterias();
                },
                error: function () {
                    desactivateLoadingButton($("#btnSubmit2"), "Guardar", false);
                    defaultErrorNotify();
                }
            })
        });
    })
</script>